@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  /* the height of the body will fill the view height */
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}

.header, .footer {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
}

.footer {
  background-color: #eee;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 0px;
  margin: 16px;
}

a{
  color:#666;
  text-decoration:none;
}

a:hover {
  color: rgb(201, 132, 53);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
